
.root{
    width: 550px;
    margin-top: 10px;
  }
.mediaa {
    width: 100%;
  }
.hashtag{
      color: darkblue;
  }
.comment-Container{
  display: flex;
  justify-content: space-between;
}
.commentText{
  width: 370px;
}
.likes{
  display: flex;
  align-items: center;
  margin: 15px 15px 15px 0px;
}
.likesText{
  padding-left: 15px;
}
.profile-pic{
  height: 30px;
  width: 30px;
}

